#{$all-buttons} {
    appearance: none;
    background-color: transparent;
    cursor: pointer;
    font-family: $font-primary;
    font-weight: 100;
    letter-spacing: $letter-spacing;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
}

.btn {
    display: table;
    height: $button-height;
    line-height: $button-height;
    margin: auto;
    padding: 0 $button-padding;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
        &:hover {
            background-color: $color-gray-light;
        }
    }
    &.btn-primary,
    &.btn-secondary {
        background-color: transparent;
        color: $color-white;
        font-family: $font-primary;
        text-transform: uppercase;
        transition: background-color $transition, color $transition;
        @media (min-width: $md) {
            @include font-calc-rem(12px);
        }
        &::after {
            background-color: $color-white;
            bottom: 0;
            content: ' ';
            display: block;
            height: 3px;
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
            width: 100%;
        }
        &:active,
        &:focus,
        &:hover,
        &.active {
            background-color: $color-white;
            color: $color-black;
        }
    }
    &.btn-secondary {
        color: $color-black;
        &::after {
            background-color: $color-black;
        }
        &:active,
        &:focus,
        &:hover,
        &.active {
            background-color: $color-black;
            color: $color-white;
        }
    }
}
