input,
label,
select,
textarea {
    display: block;
    line-height: inherit;
}

input[type='checkbox'],
input[type='radio'] {
    display: inline-block;
    position: absolute;
}

input[type='file'] {
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    width: 0.1px;
    z-index: -1;
}

select {
    appearance: none;
    border: 0;
    max-width: 100%;
    text-transform: none;
    width: auto;
    &::-ms-expand {
        display: none;
    }
}

textarea {
    overflow: auto;
    resize: none;
}

.form {
    height: auto;
    width: auto;
    z-index: 1;

    button,
    input,
    label,
    optgroup,
    select,
    textarea {
        width: 100%;
    }

    input[type='date'],
    input[type='email'],
    input[type='passworld'],
    input[type='text'],
    select,
    textarea,
    .custom-file-label,
    .input {
        @include font-calc-rem(18px);
        @include placeholder {
            @include font-calc-rem(14px);
            color: $color-gray;
            font-weight: 100;
        }
        border-radius: $border-radius;
        box-shadow: inset 0 0 0 1px $color-black;
        color: $color-black;
        font-family: $font-primary;
        font-weight: 100;
        height: $input-height;
        letter-spacing: 1px;
        padding: ($input-padding * 1.4) $input-padding;
        position: relative;
        table-layout: fixed;
        text-overflow: ellipsis;
        transition: box-shadow $transition;
        &:disabled {
            background-color: saturate($background-color, 5%);
            cursor: not-allowed;
        }
        &:active,
        &:focus,
        &:hover,
        &:visited {
            background-color: transparent;
            border-color: transparent;
            box-shadow: $form-box-shadow-focus;
            z-index: 1;
            + svg {
                fill: $color-gray-2;
            }
        }
        &.error,
        &.valid {
            ~ .status {
                display: block;
                z-index: 4;
                &::after,
                &::before {
                    content: ' ';
                    display: block;
                    position: absolute;
                    right: $input-padding;
                    top: -24px;
                }
            }
        }
        &.error {
            box-shadow: $form-box-shadow-error;
            ~ .status {
                &::after,
                &::before {
                    background-color: $color-alert;
                    height: 3px;
                    width: 13px;
                }
                &::after {
                    transform: rotate(-45deg);
                    transform-origin: 50% 50% 0;
                }
                &::before {
                    transform: rotate(45deg);
                    transform-origin: 50% 50% 0;
                }
            }
        }
        &.icon-left {
            + svg {
                left: $input-padding;
            }
        }
        &.icon-right {
            + svg {
                right: $input-padding;
            }
        }
        &.input-anexo {
            background-color: lighten($color: $color-gray-light, $amount: 10%);
            box-shadow: none;
        }
        &.valid {
            ~ .status {
                &::after,
                &::before {
                    background-color: $color-primary;
                    height: 3px;
                    width: 12px;
                }
                &::after {
                    transform: rotate(-45deg);
                    transform-origin: 50% 50% 0;
                }
                &::before {
                    right: $input-padding + 8px;
                    top: -22px;
                    transform: rotate(45deg);
                    transform-origin: 50% 50% 0;
                    width: 7px;
                }
            }
        }
        + label {
            &.error {
                @include font-calc-rem(10px);
                color: $color-alert;
                display: none !important;
                margin-top: 2px;
                position: absolute;
            }
        }
        + svg {
            fill: $color-black;
            height: 5px;
            pointer-events: none;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            transition: fill $transition, stroke $transition;
            z-index: 2;
        }
        ~ .status {
            display: none;
            height: auto;
            position: absolute;
            width: 100%;
        }
    }
    select {
        @include font-calc-rem(14px);
        color: $color-gray;
        cursor: pointer;
        font-weight: 100;
        &.changed,
        option {
            @include font-calc-rem(18px);
            color: $color-black;
            &[disabled] {
                @include font-calc-rem(14px);
                color: $color-gray;
            }
        }
    }
    textarea {
        height: 125px;
    }
    .custom-checkbox,
    .custom-radio {
        input[type='checkbox'],
        input[type='radio'] {
            &:checked {
                + .custom-control-label {
                    &::after {
                        @include resize(10px);
                        background-color: $color-white;
                        background-image: none;
                        border: 1px solid $color-gray-2;
                        border-radius: 50%;
                        box-shadow: inset 0 0 0 4px $color-gray-2;
                    }
                }
            }
        }
        + .custom-control-label {
            cursor: pointer;
            &::before {
                @include resize(15px);
                background-color: $color-white;
                border: 1px solid $color-gray;
                border-radius: 50%;
                box-shadow: inset 0 0 0 0 $color-gray-2;
            }
        }
    }
    .custom-control {
        letter-spacing: $letter-spacing;
        padding: 0;
        &.btn-anexo {
            cursor: pointer;
            text-align: center;
        }
        &.float-left {
            margin: 0 0 30px 30px;
        }
        &.float-right {
            margin: 0 30px 30px 0;
        }
    }
    .custom-file-input {
        visibility: hidden;
        &:lang(br) {
            ~ .custom-file-label {
                &::after {
                    content: 'Arquivo';
                }
            }
        }
    }
    .custom-file-label {
        @include font-calc-rem(14px);
        color: $color-gray;
        cursor: pointer;
        font-weight: 100;
        overflow: hidden;
        padding: ($input-padding * 1.4) $input-padding;
        table-layout: fixed;
        text-overflow: ellipsis;
        &::after {
            background-color: $color-black;
            border: 0;
            border-radius: $border-radius;
            color: $color-white;
            font-family: $font-primary;
            font-weight: 100;
            height: $input-height - 6;
            letter-spacing: 1px;
            padding: ($input-padding * 1.4) $input-padding;
            right: 2px;
            top: 2px;
        }
    }
    .form-row,
    .row {
        .form-group {
            padding: 5px $input-margin;
        }
        .form-required-title {
            color: $color-alert;
        }
    }
    .form-section {
        background-color: $color-black;
        color: $color-white;
        font-family: $font-primary;
        height: $input-height;
        line-height: $input-height;
        padding: 0 $input-padding;
    }
}
