// Animations
$duration: 350ms;
$timing: ease-in-out;
$fast-duration: 150ms;
$slow-duration: 1000ms;
$transition: $duration $timing;
$transition-fast: $fast-duration $timing;
$transition-slow: $slow-duration $timing;

// Generic Colors
$color-black: rgba(0, 0, 0, 1);
$color-black-transparent-1: rgba(0, 0, 0, 0.1);
$color-black-transparent-3: rgba(0, 0, 0, 0.3);
$color-black-transparent-6: rgba(0, 0, 0, 0.6);
$color-blue: rgba(0, 161, 222, 1);
$color-gray: rgba(161, 161, 161, 1);
$color-gray-2: rgba(118, 117, 117, 1);
$color-gray-3: rgba(64, 69, 70, 1);
$color-gray-light: rgba(225, 225, 225, 1);
$color-green: rgba(30, 170, 70, 1);
$color-green-2: rgba(0, 160, 70, 1);
$color-orange: rgba(234, 122, 12, 1);
$color-white: rgba(255, 255, 255, 1);
$color-white-transparent-3: rgba(255, 255, 255, 0.3);
$color-white-transparent-6: rgba(255, 255, 255, 0.6);
$color-yellow: rgba(253, 195, 70, 1);
$color-yellow-2: rgba(254, 180, 82, 1);

// Colors
$color-primary: rgba(45, 45, 45, 1);
$color-secondary: $color-gray-2;
$color-tertiary: rgba(3, 39, 50, 1);
$color-alert: rgba(220, 75, 57, 1);
$color-error: rgba(215, 40, 40, 0.9);
$color-info: rgba(0, 187, 238, 1);
$color-success: $color-tertiary;
$color-warning: rgba(243, 156, 18, 1);

// Background Color
$background-color: $color-white;

// Font Color
$font-color: $color-black;

// Border
$border-color: $color-gray-light;
$border: 1px solid $border-color;
$border-radius: 0;

// Forms
$all-buttons: ('button', 'input[type="button"]', 'input[type="reset"]', 'input[type="submit"]');
$all-text-inputs: ('input[type="text"]', 'input[type="password"]', 'select[multiple="multiple"]', 'textarea');
$button-height: 40px;
$button-padding: 25px;
$form-box-shadow: inset 0 0 0 1px $border-color;
$form-box-shadow-focus: inset 0 0 0 2px $color-secondary;
$form-box-shadow-error: inset 0 0 0 2px $color-alert;
$input-height: 65px;
$input-margin: 10px;
$input-padding: 15px;
$input-placeholder-color: $color-gray-2;

// Media Screen
$xs: 540px;
$sm: 720px;
$md: 960px;
$lg: 1140px;
$xl: 1600px;

// Sizes
$header-height: 80px;
$header-height-mobile: 50px;

// Spacing
$content-margin-y: 12vh;
$content-padding-y: 12vh;
$line-height: 1.5;
$margin: 50px;
$padding: 10px;
$spacing-xs: 5px;
$spacing-sm: 15px;
$spacing-md: 30px;
$spacing-lg: 60px;
$spacing-xl: 100px;
$wrap-margin-x: 3.5vw;
$wrap-margin-y: 3.5vh;
$wrap-padding-x: 3.5vw;
$wrap-padding-y: 3.5vh;

// Text
$font-primary: 'Playfair Display', serif;
$font-size: 16px;
$letter-spacing: 1px;
