@import 'variable';
@import '../common/mixin';
@import 'animation';
@import 'button';
@import 'form';

// B-LAZY
[data-blazy] {
    opacity: 0;
    transition: opacity $transition;
}

.b-loaded {
    opacity: 1;
}

// CONTENT
.content-padding-y {
    padding-bottom: $content-padding-y;
    padding-top: $content-padding-y;
    @media (min-width: $lg) {
        padding-bottom: $content-padding-y * 2;
        padding-top: $content-padding-y * 2;
    }
}

.content-padding-bottom {
    padding-bottom: $content-padding-y;
}

.content-padding-top {
    padding-top: $content-padding-y;
}

.content-xs,
.content-sm,
.content-md,
.content-lg,
.content-xl {
    margin: auto;
}

.content-xs {
    max-width: $xs;
}

.content-sm {
    max-width: $sm;
}

.content-md {
    max-width: $md;
}

.content-lg {
    max-width: $lg;
}

.content-xl {
    max-width: $xl;
}

// WRAP
.wrap {
    padding-left: $wrap-padding-x * 1.5;
    padding-right: $wrap-padding-x * 1.5;
    width: 100%;
    z-index: 1;
    @media (min-width: $md) {
        padding-left: $wrap-padding-x;
        padding-right: $wrap-padding-x;
    }
    &.wrap-left {
        padding-left: $wrap-padding-x * 1.5;
        padding-right: 0;
        @media (min-width: $md) {
            padding-left: $wrap-padding-x;
        }
    }
    &.wrap-right {
        padding-left: 0;
        padding-right: $wrap-padding-x * 1.5;
        @media (min-width: $md) {
            padding-right: $wrap-padding-x;
        }
    }
    &.wrap-content {
        padding-left: $wrap-padding-x * 1.5;
        padding-right: $wrap-padding-x * 1.5;
        @media (min-width: $md) {
            padding-left: $wrap-padding-x * 3;
            padding-right: $wrap-padding-x * 3;
        }
        &.wrap-left {
            padding-left: $wrap-padding-x * 1.5;
            padding-right: 0;
            @media (min-width: $md) {
                padding-left: $wrap-padding-x * 3;
            }
        }
        &.wrap-right {
            padding-left: 0;
            padding-right: $wrap-padding-x * 1.5;
            @media (min-width: $md) {
                padding-right: $wrap-padding-x * 3;
            }
        }
    }
    &.wrap-form {
        max-width: 800px;
    }
    &.wrap-full {
        padding-left: 0;
        padding-right: 0;
    }
    &.wrap-remove {
        margin-left: -$wrap-padding-x;
        margin-right: -$wrap-padding-x;
        padding: 0;
    }
}
