// ANIMATION
@mixin animation($delay: 0s, $direction: normal, $duration: $duration, $fill-mode: forwards, $iteration-count: 1, $name: '', $timing-function: $timing) {
    animation-delay: $delay;
    animation-direction: $direction;
    animation-duration: $duration;
    animation-fill-mode: $fill-mode;
    animation-iteration-count: $iteration-count;
    animation-name: $name;
    animation-timing-function: $timing-function;
}

// GRADIENT
@mixin gradient-directional($deg: 45deg, $start-color: $color-primary, $start-color-percent: 0%, $end-color: $color-secondary, $end-color-percent: 100%) {
    // sass-lint:disable-block no-duplicate-properties
    background-image: -webkit-linear-gradient($deg, $start-color $start-color-percent, $end-color $end-color-percent);
    // Safari 5.1-6, Chrome 10+
    background-image: -o-linear-gradient($deg, $start-color $start-color-percent, $end-color $end-color-percent); // Opera 12
    background-image: linear-gradient($deg, $start-color $start-color-percent, $end-color $end-color-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
    background-repeat: repeat-x;
}

@mixin gradient-radial($inner-color: $color-primary, $outer-color: $color-secondary) {
    // sass-lint:disable-block no-duplicate-properties
    background-image: -webkit-radial-gradient(circle, $inner-color, $outer-color);
    background-image: radial-gradient(circle, $inner-color, $outer-color);
    background-repeat: no-repeat;
}

// KEYFRAME
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

// PLACEHOLDER
@mixin placeholder {
    // Safari and Chrome
    &::-webkit-input-placeholder {
        @content;
    } // Internet Explorer 10+
    &:-ms-input-placeholder {
        @content;
    } // Firefox
    &::-moz-placeholder {
        @content;
        opacity: 1;
    }
}

// RESIZE
@mixin resize($size: 50px) {
    height: $size;
    width: $size;
}

// TEXT
@mixin font-calc-rem($value: 16px) {
    font-size: ($value / $font-size) + rem;
}

@mixin letter-spacing($spacing: 0) {
    letter-spacing: $spacing;
    padding-left: $spacing;
}
